<template>
  <b-row>
    <b-col cols="12">
      <a href="#" @click="$router.go(-1)">Go Back</a>
      <h2>
        Team Details
      </h2>      
      
      <GoogleMapLoader
        :mapConfig="mapConfig"
        apiKey="AIzaSyBgZZK8umUqJn8d5CoIZqWPJ_qtMfqD9q0"
      >
      </GoogleMapLoader>
    </b-col>
  </b-row>
</template>

<script>
import GoogleMapLoader from "./GoogleMapLoader";

export default {
  components: {
    GoogleMapLoader
  },

  computed: {
    mapConfig () {
      return {
        mapSettings: {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        },
        zoom: 15,
        center: { lat: parseInt(this.$route.params.lat, 0), lng: parseInt(this.$route.params.lng, 0) }
      }
    },
  }
};
</script>